.App {
	margin: 1em auto;
	margin-top: 3em;
	padding: 0 1em;
	max-width: 35em;
}

.App__heading {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	font-size: 2em;
	margin: 0 0 0.25em;
}

.App__heading > img {
	margin-right: 0.5em;
}

.App__heading-subtitle {
	display: block;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 1;
}

.App__heading-percentage {
	background: #dc2626;
	border-radius: 0.5em;
	color: #fff;
	font-style: normal;
	font-size: 1.25rem;
	margin-left: auto;
	padding: 0.125em 0.5em;
}

.App__intro {
	color: #a1a1aa;
}

.App__langs {
	background: #18181b;
	color: #fff;
	left: 0;
	padding: 0.25em 1em;
	position: absolute;
	right: 0;
	top: 0;
}

button {
	background: none;
	border: 0;
	border-bottom: 2px dotted;
	color: inherit;
	font-weight: bold;
	padding: 0;
}
